body {
  background-color: var(--color-bg);
  font-family: sans-serif;
  color: var(--color-text);
}

.main {
  padding: 40px 20px;
}

.lock {
  overflow: hidden;
}

.hidden {
  display: none !important;
}

* {
  &:focus-visible {
    outline: 3px dashed var(--color-border);
    outline-offset: 1px;
  }
}