:root {
  --color-light: #f4f4f4;
  --color-white: #ffffff;
  --color-light-grin: #5cb85c;
  --color-grin: #56ac56;
  --color-hover-gray: #dddddd;
  --color-light-gray: #c7c7c7;
  --color-dark-gray: #424242;
  --color-gray: #aaaaaa;
  --color-light-contrast: #eeeeee;

  --border: 1px solid var(--color-light-gray);
  --border-radius: 4px;
  --border-radius-menu: 8px;

  --shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

  --transition-duration: 0.2s;
}